@import "node_modules/materialize/sass/materialize";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


$primary:#558C89;
$navigation: #E0BA5F;
$navigation-hover: #D77BDE;
$font: 'Josefin Slab', serif;
.box-shadow{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.48);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.48);
}

.color-primary{
  color: $primary;
}

 body{
 }

 #header{
    border-bottom:1px solid #558C89;
    background-color:#558C89
 }

 .search-form{
    margin-top: 20px;
    margin-bottom: 20px;
 }

 #top-menu{;padding-bottom: 0px;min-height:160px !important;
    .row{
        padding-bottom: 0px;
    }
    #top-nav{
        background-color:#E0BA5F;
        //border: 1px solid #E0BA5F;
        border:none;
        margin-bottom: 0px;
        .navbar-nav{width: 100% !important;}
        .navbar-collapse{margin:0;padding:0;}
    }
    .nav-justified { 
         min-height:5rem !important;
        li{
            a{ 
                font-family: 'Josefin Slab', serif;
                min-height:5rem !important;
                border:none; 
                font-size: 1.8rem;margin-bottom:0px; padding-bottom:0px;
                color: #484848;
                margin-top: 1rem;
                &:hover{background-color:#D77BDE; color:#FFFFFF;} 
            }
            &:hover{background-color:#D77BDE;}
        }
        
    }
 }


#data-content
{ 
  margin-top:1rem; margin-bottom:1rem;
  #row-data-content
  {
    max-width: 97%; margin: 0 auto;
    /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) { 
      max-width: 75%;
    }

    #content
    { 
      margin-bottom:1rem;
      h1{font-family: $font; padding-top:1.5rem; color:$primary;}
      .caption
      {
        p{margin-bottom:1rem; padding-bottom:2rem; line-height:1.5; text-align:justify;}
      }
    }


  }
   #department{
    background-color: #558C89; color:#FFFFFF; margin-bottom:2.5rem;
    opacity: 0.9;
  }
   #row-columns{
      text-align: center;
      .data-column
       {
          max-width: 100% ! important;

       }
       .btn-primary {
        background-color: #E0BA5F;
        border:1px solid #E0BA5F;
        width: 100% !important;
        &:hover{
            background-color: $navigation-hover; 
            border:1px solid $navigation-hover; 
            font-family: $font;
        }
       }
   } 
}
#footer
{
  background-color: #558C89;
  min-height: 25rem;
  form{
    padding: 2rem;
    margin: 2rem;
    .input-field label
    {
      top: -0.2rem;
      font-size: 2rem;   
    }

    legend{padding-bottom:0rem; font-family:$font; font-size:5rem;
        color: #FFFFFF; margin-bottom:3.5rem}
    textarea,input{color: #FFFFFF;font-size:2rem;}
  }
   #map{
     border-radius:none;margin-top:2rem; 
    }
    #address{background-color:transparent; text-align:center;
      .caption>p{ padding-top:1.2rem;
        color:#FFFFFF; font-family:$font; font-size:2rem;
      }
      @media (min-width: $screen-sm-min) { 
       margin-bottom: 2rem;
      }

      margin-bottom: 20rem;
     
    }
}
/* News */
.news-slider {
  /* Style the actual content */
}
.news-slider .text-content {
  position: absolute;
  top: 1rem;
  left: 2rem;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1em;
  width: 30%;
  height: 100%;
}
.news-slider .text-content h2 {
    margin: 0;
    color: #D9853B;
    //color: #D77BDE;
    border-radius:3px;
    font-family: 'Josefin Slab', serif;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.6rem;
}
.news-slider .text-content p {
    margin: 1em 0;
    color: #666666;
   background-color: rgba(255, 255, 255, 0.4);
    font-family: 'Josefin Slab', serif;
    font-size: 1.6rem;
    line-height: 1.5;
    padding:0.8rem;
    border-radius:3px;
}
.news-slider .text-content a.button-link {
  padding: 0.25em 0.5em;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.news-slider .image-content {
  line-height: 0;
}
.news-slider .image-content img {
  max-width: 100%;
}
.news-slider .news-pager {
  text-align: right;
  display: block;
  margin: 0.04em 0 0;
  padding: 0;
  list-style: none;
  background-color:#558C89;
}
.news-slider .news-pager li {
  display: inline-block;
  padding: 0.6em;
  margin: 0 0 0 1em;
}
.news-slider .news-pager li.sy-active a {
  color: #31ace2;
}
.news-slider .news-pager li a {
  font-weight: 500;
  text-decoration: none;
  display: block;
  color: #222;
}
