 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

 body{
 }

 #header{
    border-bottom:1px solid #558C89;
    background-color:#558C89
 }

 .search-form{
    margin-top: 20px;
    margin-bottom: 20px;
 }

 #top-menu{;padding-bottom: 0px;min-height:160px !important;
    .row{
        padding-bottom: 0px;
    }
    #top-nav{
        background-color:#E0BA5F;
        //border: 1px solid #E0BA5F;
        border:none;
        margin-bottom: 0px;
        .navbar-nav{width: 100% !important;}
        .navbar-collapse{margin:0;padding:0;}
    }
    .nav-justified { 
         min-height:5rem !important;
        li{
            a{ 
                font-family: 'Josefin Slab', serif;
                min-height:5rem !important;
                border:none; 
                font-size: 1.8rem;margin-bottom:0px; padding-bottom:0px;
                color: #484848;
                margin-top: 1rem;
                &:hover{background-color:#D77BDE; color:#FFFFFF;} 
            }
            &:hover{background-color:#D77BDE;}
        }
        
    }
 }

/* News */
.news-slider {
  /* Style the actual content */
}
.news-slider .text-content {
  position: absolute;
  top: 1rem;
  left: 2rem;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1em;
  width: 30%;
  height: 100%;
}
.news-slider .text-content h2 {
    margin: 0;
    color: #D9853B;
    //color: #D77BDE;
    border-radius:3px;
    font-family: 'Josefin Slab', serif;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.6rem;
}
.news-slider .text-content p {
    margin: 1em 0;
    color: #666666;
   background-color: rgba(255, 255, 255, 0.4);
    font-family: 'Josefin Slab', serif;
    font-size: 1.6rem;
    line-height: 1.5;
    padding:0.8rem;
    border-radius:3px;
}
.news-slider .text-content a.button-link {
  padding: 0.25em 0.5em;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.news-slider .image-content {
  line-height: 0;
}
.news-slider .image-content img {
  max-width: 100%;
}
.news-slider .news-pager {
  text-align: right;
  display: block;
  margin: 0.04em 0 0;
  padding: 0;
  list-style: none;
  background-color:#558C89;
}
.news-slider .news-pager li {
  display: inline-block;
  padding: 0.6em;
  margin: 0 0 0 1em;
}
.news-slider .news-pager li.sy-active a {
  color: #31ace2;
}
.news-slider .news-pager li a {
  font-weight: 500;
  text-decoration: none;
  display: block;
  color: #222;
}
